@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aplicação MVC - Simples</h1>
	<br />
    <p class="lead">
		Esta aplicação faz acesso a dados usando ADO.NET utilizando os principios do SOLID de forma bem simples, 
		é um exemplo bacana para quem está começando, e antes de usar ORM's como o Entity Framework ou Nhibernate entender a forma nativa
		de acessar os dados, que sem dúvida é mais performática apesar de dar um pouco mais de trabalho para implementar.
	</p>
	<br />
    <p>
		<a href="/Categorie" class="btn btn-primary btn-lg">Cadastro de Categorias &raquo;</a>
	</p>
</div>